.containerTeam {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
    border-bottom: solid 10px var(--background);
    padding: .5em 0;
}

.containerTable {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    height: 60vh;
    overflow: auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px 0px inset, rgba(0, 0, 0, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-top-left-radius: .8em;
    border-top-right-radius: .8em;

}


.containerTable::-webkit-scrollbar {
    height: 10px;
    width: 10px;
    border-radius: 1em;
}

.containerTable::-webkit-scrollbar-track {
    background-color: var(--background);
    max-width: 5px;
    border-radius: 1em;
}

.containerTable::-webkit-scrollbar-thumb {
    background: var(--sub-background);
    border-radius: 10px;
}


.nTableTeam {
    background-color: var(--background);
    color: var(--color-font);
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.nTableTeam thead {
    background-color: var(--sub-background);
    height: 10vh;
}

.nTableTeam thead tr th {
    border: solid 1px white;
}

.nTableTeam tbody tr {
    height: 10vh;
}

.nTableTeam tbody tr td {
    border: solid 1px;
    border-collapse: collapse;
    text-align: center;
}

.containerBtnAddUser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 10%;
    background-color: #4e1cd8;
    border-bottom-left-radius: .6em;
    border-bottom-right-radius: .6em;
    border-style: none;
    color: var(--color-font);
    font-size: 100%;
    cursor: pointer;
    transition: .2s;
}

.containerBtnAddUser:hover {
    background-color: #5432eb;
}

.boxButtonsActions {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: auto;
}

.boxButtonsActions svg {
    font-size: 1.2rem;
    cursor: pointer;
    transition: .1s;
}

.boxButtonsActions svg:hover {
    color: var(--light);
}

.containerPopupTeams {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.4rem;
    padding-bottom: 1.5rem;
    width: 60%;
    height: 80%;
}

.cardPopup {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--background);
    color: var(--color-font);
    width: 100%;
    height: 88%;
    border-radius: 1em;
    padding: .5em 1em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.titlePopupTeams {
    border-bottom: solid 1px;
}

.iconBackTeams {
    position: absolute;
    left: 93%;
    cursor: pointer;
    height: 15px;
}

.boxInputsPopupTeams {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 1em;
    width: 100%;
    height: 60%;
}

.boxInputsPopupIntern {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 35%;
}

.boxInputsPopupIntern input {
    width: 100%;
    height: 70%;
    border-radius: .5em;
    outline: none;
    border-style: none;
    padding: .5em;
    background-color: var(--sub-background);
    color: var(--color-font);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px;
}

.boxInputsPopupIntern input::placeholder {
    color: var(--color-font);
    opacity: .5;
}

.boxInternRadio {
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.btnTeamsAddMember {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 20%;
    margin-top: 1em;
    border-radius: .5em;
    border-style: none;
    background-color: var(--sub-background);
    color: var(--color-font);
    font-size: .8rem;
    box-shadow: rgba(0, 0, 0, 0.25) 10px 14px 28px;
    cursor: pointer;
    transition: .2s;
}

.btnTeamsAddMember:hover {
    width: 85%;
    background-color: #4d22c5;
}

.btnDeleteUser {
    height: 35%;
}

.btnTeamsDisabled {
    pointer-events: none;
    opacity: .5;
}

.btnTeamsAddMember svg {
    height: 22px;
    width: 20px;
}

.popupDelete {
    height: 50%;
}

.boxPopupDelete {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 30%;
    margin-top: 1.1em;
    text-transform: capitalize;
}